body {
    font-family: Arial, sans-serif;
}
.order {
    width: 300px;
    margin: 40px auto;
    text-align: center;
    width: 100%; /* make it responsive */
    height: 100%; /* make it responsive */
  
}
.order img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.order h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.order p {
    font-size: 18px;
    color: #666;
}
.quantity-input {
    width: 50px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.remove-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.remove-button:hover {
    background-color: #cc0000;
}
.summary {
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
} 
#product-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
