.profile {
	border: 2px solid var(--color-black);
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1rem;
	padding: 1rem;
}

.profile__desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	margin: 1rem;
}

.profile__desc strong {
	text-align: center;
	font-size: 1.5rem;
}

.profile__img {
	object-fit: cover;
	width: 150px;
	height: 150px;
	aspect-ratio: 1/1;
	box-shadow: 2px 2px 2px var(--color-black);
}

.profile__info {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.profile__info__item {
	display: flex;
	flex-direction: column;
}

.profile__info__item label {
	text-transform: uppercase;
	margin: 0.25rem 0;
	font-weight: bold;
}

.profile__info__item input {
	width: 600px;
	height: 35px;
	background-color: transparent;
	border: 1px solid var(--color-black);
	color: inherit;
	padding-left: 0.5rem;
}
